* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: #F7EDE7;
    height: 100vh;
    overflow: hidden;
}

/*sidebar izquierdo*/
.sidebar {
    width: 200px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    border-right: 1px solid #EAEAEA;
}
.brand-section {
    text-align: center;
    padding: 15px 10px 25px 10px;
}


.brand-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.brand-name {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.brand-sub {
    font-size: 13px;
    color: #777;
}

.menu-list {
    list-style: none;
    width: 100%;
}

.menu-item a {
    display: block;
    padding: 12px 25px;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
}

.menu-item.active a {
    background-color: #F5E6DC;
    color: #8C6239;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 15px;
}

.sidebar-footer {
    padding: 0 20px;
}

.user-profile-summary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.avatar-circle {
    width: 30px;
    height: 30px;
    background-color: #E2C2B3;
    color: #8C6239;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    flex-shrink: 0;
}

.profile-info h4 {
    font-size: 13px;
    color: #333;
}

.profile-info p {
    font-size: 11px;
    color: #777;
}

.btn-logout {
    width: 100%;
    background-color: #613B1F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

/* --- CONTENIDO PRINCIPAL --- */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #888;
}

.topbar .right-avatar {
    width: 32px;
    height: 32px;
    background-color: #613B1F;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

/* Contenedor central */
.container {
    padding: 0 40px 40px 40px;
    overflow-y: auto;
    flex: 1;
}

/* Buscador */
.search-container {
    position: relative;
    margin-bottom: 25px;
    max-width: 500px;
}

.search-container input {
    outline: none;
    width: 100%;
    padding: 12px 20px 12px 45px;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}



/* Tabla Blanca */
.table-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.01);
}

.table-title {
    font-size: 28px;
    color: #222;
    margin-bottom: 25px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.custom-table th {
    font-size: 13px;
    color: #333;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0F0F0;
}

.custom-table td {
    padding: 14px 0;
    font-size: 13.5px;
    color: #555;
    vertical-align: middle;
    border-bottom: 1px solid #FAFAFA;
}

/* Badge Gris de Carrera */
.badge-carrera {
    background-color: #EFEFEF;
    color: #666;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    min-width: 55px;
    text-align: center;
}

/* Botón Eliminar Rojo */
.btn-delete {
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
}

.btn-delete:hover {
    background-color: #B71C1C;
}